header{
    color: green;
    font-size: 200%;
    text-align: center;
}
h1{
    color: green;
    font-size: 170%;
    font-style: ;
}

footer{
    text-align: center;
    color: green;
    font-size: 160%;
    font-style: italic;
}